body{
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1#title{
    font-weight: bold;
    color: white;
    font-family: Montserrat;
}

.top-text{
    margin-top: 20px;
}

.card{
    width: 75vw;
}

.btn {
    color: white;
}
